body {
  display: flex;
  justify-content: center;

  background-color: CadetBlue;
}

a {
  text-decoration: none;
}

.page-container {
  width: 800px;
  padding: 2rem;

  background-color: FloralWhite;
}

.site-categories {
  display: flex;
  width: 100%;
  background: CadetBlue;
}

.site-categories > .cat-item {
  /* color: floralwhite; */
  font-weight: 900;
  margin: 1rem;
}

.cat-item > a:link {
  color: floralwhite;
  text-decoration: none;
}

.cat-item > a:visited {
  color: floralwhite;
  text-decoration: none;
}

.item-disabled {
  color: SlateGrey;
}

.content-body {
  display: flex;
  flex-wrap: wrap;
}

.content-block {
  flex: 1 1 0px;
}

/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .page-container {
    width: 100%;
  }

  .content-block {
    flex: unset;
  }
}
