html {
  overflow-y: scroll;
}

body {
  display: flex;
  justify-content: center;

  background-color: CadetBlue;
}

h1.page-title > a {
  color: #000;
}

a {
  text-decoration: none;
}

.page-container {
  width: 800px;
  padding: 2rem;
  border-radius: 15px;

  background-color: FloralWhite;
}

.site-subtitle {
  color: gray;
}

.back-button-text {
  margin-top: 5rem;
}

.back-button {
  display: flex;
  flex-direction: column;

  width: 3rem;
  height: 3rem;
  border-radius: 50% 50%;
  background-color: CadetBlue;

  text-align: center;
}

.back-button-text > a:link {
  color: FloralWhite;
}

.back-button-text > a:visited {
  color: FloralWhite;
}

.back-button-text-position {
  position: relative;
  top: -0.05rem;
}

.site-categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 5px;

  background: CadetBlue;
}

.site-categories > .cat-item {
  /* color: floralwhite; */
  font-weight: 900;
  margin: 0.5rem;
  padding: 0.5rem;
}

.cat-item > a:link {
  color: floralwhite;
}

.cat-item > a:visited {
  color: floralwhite;
}

.item-disabled {
  color: SlateGrey;
}

.item-selected {
  background-color: black;
  border-radius: 5px;
}

.content-body {
  display: flex;
  flex-wrap: wrap;
}

.content-block-full {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.content-block {
  flex: 1 1 40%;
  line-height: 1.5rem;

  margin-right: 3rem;
}

.image-frame {
  width: 10rem;

  align-self: center;
}

.portrait-image {
  width: 100%;
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* On screens that are 768px or less, set the background color to blue */
@media screen and (max-width: 768px) {
  .page-container {
    width: 100%;
  }

  .content-block {
    flex: unset;
  }
}
